body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 193, 195);
  background: radial-gradient(circle, rgb(34, 193, 195) 0%, rgb(174, 6, 240) 40%);
}

.success {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: green;
  width: 400px;
  height: 250px;
  position: absolute;
  z-index: 1;
  border-radius: 10%;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
}

button a {
  text-decoration: none !important;
  color: white;
}

.container {
  background-color: #22102a;
  color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.container h1 {
  text-align: center;
}