body{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.success{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: green;
    width: 400px;
    height: 250px;
    position: absolute;
    z-index: 1;
    border-radius: 10%;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
}
.op{
    opacity: 0.5;
}